<h1>Listing hospitals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location city</th>
    <th>Location area</th>
    <th>Location logitude</th>
    <th>Location latitude</th>
    <th>Tel Number</th>
    <th>Department</th>
    <th>Detail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hospitals.each do |hospital| %>
  <tr>
    <td><%= image_tag hospital.photos[0].thumb_url %></td>
    <td><%= hospital.name %></td>
    <td><%= hospital.location_city %></td>
    <td><%= hospital.location_area %></td>
    <td><%= hospital.location_logitude %></td>
    <td><%= hospital.location_latitude %></td>
    <td><%= hospital.tel_number %></td>
    <td><%= hospital.department %></td>
    <td><%= hospital.detail %></td>
    <td><%= link_to 'Show', hospital %></td>
    <td><%= link_to 'Edit', edit_hospital_path(hospital) %></td>
    <td><%= link_to 'Destroy', hospital, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hospital', new_hospital_path %>
