
<p>
  <b>Hospital:</b>
  <%= @product.hospital.name %>
</p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>DC Rate:</b>
  <%= @product.dc_rate %>
</p>

<p>
  <b>라벨:</b>
  <%= @product.label %>
</p>

<p>
  <b>Event start at:</b>
  <%= @product.event_start_at %>
</p>

<p>
  <b>Event end at:</b>
  <%= @product.event_end_at %>
</p>

<p>
  <b>Hot event:</b>
  <%= @product.hot %>
</p>

<p>
  <b>Showing event:</b>
  <%= @product.hot %>
</p>

<p>
  <b>추가 검색어:</b>
  <%= @product.search_word %>
</p>

<% @product.photos.each do |photo| %>
  <p>
    <%= image_tag photo.medium_url %>
  </p>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<%= render partial: 'comments/comments', locals: { comments: @product.comments, commentable: @product } %>
