<!DOCTYPE html>
<html>
<head>
  <title>HospitalAggregator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% [:notice, :info, :error].each do |key| %>
  <% if flash[key] %>
  	<div class="<%= key %>" id="flash">
    	<%= flash[key] %>
  	</div>
  <% end %>
<% end %>

<div class="menu">
	<a href="/hospitals">병원 목록</a> |
	<% if admin? %>
		<a href="/hospitals/new">병원 등록</a> |
	<% end %>
	<a href="/products">상품 목록</a> |
	<% if admin? %>
		<a href="/products/new">상품 등록</a> | 
		<a href="/logout">Logout</a>
	<% else %>
		<a href="/login">Login as admin</a>
	<% end %>
</div>

<%= yield %>

</body>
</html>
